<!DOCTYPE html>
<html>
<head>
  <meta name="generator" content="HTML Tidy for HTML5 for Apple macOS version 5.7.16">
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Dredmorpedia 2</title>

  <style>
    .sort:after {
      display:inline-block;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      content:"";
      position: relative;
      top:-10px;
      right:-5px;
    }
    .sort.asc:after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid;
      content:"";
      position: relative;
      top:4px;
      right:-5px;
    }
    .sort.desc:after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid;
      content:"";
      position: relative;
      top:-4px;
      right:-5px;
    }
    table.itemDB td.item-name {
      max-width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    table.tooltip-ref td {
      padding: 5px;
    }
    img.item {
      vertical-align:middle
    }
    img.stat {
      vertical-align:middle;
    }
    div.stat-group, div.recipe-group {
      white-space: nowrap;
    }
    h1 {
      position: -webkit-sticky;
      position: sticky;
      top: 0px;
    }
  </style>

  <link href="slate/stylesheets/monokai.css" rel="stylesheet" media="screen">
  <link href="slate/stylesheets/screen.css" rel="stylesheet" media="screen">
  <link href="slate/stylesheets/print.css" rel="stylesheet" media="print">
  <script src="slate/javascripts/all.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="static/tooltipster-master/css/tooltipster.bundle.css" rel="stylesheet">
  <script src="static/tooltipster-master/js/tooltipster.bundle.js"></script>
</head>
<body>
  <a href="#" id="nav-button"><span>NAV <img src="slate/images/navbar.png" alt="Navbar"></span></a>

  <div class="toc-wrapper">
    <img src="static/logo.png" class="logo" alt="Logo">
    <div class="search">
      <input type="text" class="search" id="input-search" placeholder="Search">
    </div>
    <ul class="search-results"></ul>
    <ul id="toc" class="toc-list-h1">
      <li>
        <a href="#items" class="toc-h1 toc-link active" data-title="Items">Items</a>
      </li>
      <li>
        <a href="#skills" class="toc-h1 toc-link" data-title="Skills">Skills</a>
      </li>
    </ul>
    <ul class="toc-footer">
      <li>
        <a href="https://github.com/pnaimoli/dredmorpedia2">Report Issues on GitHub</a>
      </li>
      <li>
        <a href="https://github.com/stoz/dredmorpedia">Original Dredmorpedia by J-Factor</a>
      </li>
      <li>Layout inspired by <a href="https://github.com/lord/slate">Slate</a>
      </li>
    </ul>
  </div>

  <div class="page-wrapper">
    <div class="content">
      <h1 id="items">Items</h1>
      <table id="itemDB" class="itemDB">

        <thead>
          <tr>
            <th class="sort" data-sort="item-name">Item</th>
            <th class="sort" data-sort="level">Level</th>
            <th class="sort" data-sort="price"><img src="game_images/items/cash1.png"></th>
            <th class="sort" data-sort="artifact">Artifact</th>
            <th>Stats</th>
            <th>Recipes</th>
            <th>Used To Craft</th>
            <th>Effects</th>
          </tr>
        </thead>

        <tbody class="list">
          {% for itemDB in itemDBs %}
          {% for item in itemDB["itemdb"]["item"] %}
          <tr id="{{item.name|replace(" ", "")}}">
            {# ====== Item Name ====== #}
            <td class="item-name" data-name="{{item.name}}">
              <img class="item" src="game_images/{{itemDB.mod_dir}}/{{item.iconfile}}">
              {{item.name}}
            </td>

            {# ====== Item Level ====== #}
            {% if "level" in item or "armour" in item or "trap" in item%}
            {% if "level" in item %}
              {% set level = item.level|int %}
            {% elif "armour" in item %}
              {% set level = item.armour.level|int %}
            {% elif "trap" in item %}
              {% set level = item.trap.level|int %}
            {% endif %}
            <td class="level">{{level}}</td>
            {% else %}
            <td class="level">
            </td>
            {% endif %}

            {# ====== Price ====== #}
            <td class="price">{{item.price.amount if "price" in item else ""}}</td>

            {# ====== Artifact Quality ====== #}
            {% if "artifact" in item %}
            <td class="artifact">{{item.artifact.quality}}</td>
            {% else %}
            <td class="artifact">
            </td>
            {% endif %}

            {# ====== Stats ====== #}
            <td class="stats">
              {% if "weapon" in item %}
              <div class="stat-group">
              {% for damageType, amount in item.weapon|dictsort %}
              {% set damageType = damageType %}
              {% if damageType == "hit" %}{% continue %}{% endif %}
              {% if damageType == "thrown" %}{% continue %}{% endif %}
              {% if damageType == "cantargetfloor" %}{% continue %}{% endif %}
                <img class="stat" data-damage-{{damageType}}="{{amount}}" src="game_images/ui/icons/dmg_{{damageType}}.png" title="{{damageType|capitalize}} Damage"> {{amount}}
              {% endfor %}
              </div>
              {% endif %}

              {% if "resistbuff" in item %}
              <div class="stat-group">
              {% for damageType, amount in item.resistbuff|dictsort %}
              {% set damageType = damageType %}
                <img class="stat" data-resist-{{damageType}}="{{amount}}" src="game_images/ui/icons/dmg_{{damageType}}_resist.png" title="{{damageType|capitalize}} Resistance"> {{amount}}
              {% endfor %}
              </div>
              {% endif %}

              {% for buff in item.primarybuff|sort(attribute="id") %}
              {% set stat = PRIMARY_STATS[buff.id|int] %}
              {% if loop.first %}
              <div class="stat-group">
              {% endif %}
                <img class="stat" data-{{stat}}="{{buff.amount}}" src="game_images/ui/icons/stat_{{stat}}.png" title="{{stat|capitalize}}"> {{buff.amount}}
              {% if loop.last %}
              </div>
              {% endif %}
              {% endfor %}

              {% for buff in item.secondarybuff|sort(attribute="id")  %}
              {% set stat = SECONDARY_STATS[buff.id|int] %}
              {% if loop.first %}
              <div class="stat-group">
              {% endif %}
                <img class="stat" data-{{stat}}="{{buff.amount}}" src="game_images/ui/icons/stat_{{stat[0]}}.png" title="{{stat[1]}}"> {{buff.amount}}
              {% if loop.last %}
              </div>
              {% endif %}
              {% endfor %}

              {% if "armour" in item and item.armour.randoms == "1" %}
              <div class="stat-group">
                <img class="stat" data-random="1" src="static/random.png" width="16px" height="16px" title="Random Stats">
              </div>
              {% endif %}
            </td>

            {# ====== Crafting Recipe ====== #}
            <td>
              <div class="recipe-group">
                <img class="stat" src="game_images/ui/icons/stat_tinkerer.png"> 7
                <a class="ref" href="#ClockworkBolt-thrower"><img class="item" src="game_images/items/crossbow_clockwork.png" class="icon" onerror="Dredmor.Helper.RecoverImageError(this)"></a>
                <a class="ref" href="#Absinthe"><img class="item" src="game_images/items/component_aetheric_power.png" class="icon" onerror="Dredmor.Helper.RecoverImageError(this)"></a>
                <a class="ref" href="#SSSB"><img class="item" src="game_images/items/component_stem_bolt.png" class="icon" onerror="Dredmor.Helper.RecoverImageError(this)"></a>
                <a class="ref" href="#SBD"><img class="item" src="game_images/items/component_bronze_discs.png" class="icon" onerror="Dredmor.Helper.RecoverImageError(this)"></a>
              </div>
            </td>
            <td>
            </td>
            <td>
              {% if "weapon" in item and "hit" in item.weapon %}
              ON HIT: ???
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      <h1 id="skills">Skills</h1>
      <p>Welcome to the Kittn API! You can use our API to access Kittn API endpoints, which can get information on various cats, kittens, and breeds in our database.</p>
      <p>We have language bindings in Shell, Ruby, Python, and JavaScript! You can view code examples in the dark area to the right, and you can switch the programming language of the examples with the tabs in the top right.</p>
      <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
      <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
      <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
      <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
      <p>This example API documentation page was created with <a href="https://github.com/lord/slate">Slate</a>. Feel free to edit it and use it as a base for your own API's documentation.</p>
    </div>
  </div>
  <script>
  var options = {
  valueNames: [
    { name: "item-name", attr: "data-name" },
    "level",
    "price",
    "artifact",
    { name: "damage-piercing", attr: "data-damage-piercing" },
    { name: "damage-bashing", attr: "data-damage-bashing" },
  ]
  };

  var itemTable = new List("itemDB", options);
  itemTable.sort("item-name", { order: "asc"});

  $("#input-search").keyup(function() {
    var searchString = $(this).val();
    itemTable.search(searchString, [ "item-name" ]);
  });

  $("a.ref").tooltipster({
    content: "Loading...",
    trigger: 'custom',
    triggerOpen: {
        mouseenter: true
    },
    triggerClose: {
        click: true
    },
    functionBefore: function(instance, helper) {
      var element_id = $(helper.origin).attr("href");
      var element = $(element_id);
  
      // Build HTML - checking if we need to wrap
      var html = element.html();
  
      if (!element.is('tr')) {
        return;
      }
  
      html_text = '<table class="itemDB tooltip-ref"><tbody><tr>' + html + '</tr></tbody></table>';
      html = $(html)
      html.find("a.ref").tooltipster({
        content: "Loading2...",
        trigger: 'custom',
        triggerOpen: {
            mouseenter: true
        },
        triggerClose: {
            click: true
        },
        functionBefore: instance.__options.functionBefore,
        interactive: true
      });
      
      instance.content($(html));
      instance.content()
    },
    interactive: true,
  });
  </script>
</body>
</html>
