<!DOCTYPE html>
<html>
<head>
  <meta name="generator" content="HTML Tidy for HTML5 for Apple macOS version 5.7.16">
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Dredmorpedia 2</title>

  <style>
    .sort:after {
      display:inline-block;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      content:"";
      position: relative;
      top:-10px;
      right:-5px;
    }
    .sort.asc:after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid;
      content:"";
      position: relative;
      top:4px;
      right:-5px;
    }
    .sort.desc:after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid;
      content:"";
      position: relative;
      top:-4px;
      right:-5px;
    }
    table.itemDB td.name {
      max-width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    #itemDB th.type, #itemDB td.type {
      display: none;
    }
    th {
      white-space: nowrap;
    }
    img.item {
      vertical-align:middle
    }
    img.stat {
      vertical-align:middle;
    }
    div.stat {
      display:inline-block;
    }
    div.stat-group, div.recipe-group {
      white-space: nowrap;
    }
    div.stat-group:not(:first-of-type) {
      border-top: 1px dotted #8c8b8b;
    }
    span.stat-filter-group {
      display: inline-block;
      vertical-align: top;
    }
    span.stat-filter-group:first-of-type {
      padding-left: 15px;
    }
  </style>

  <link href="static/layout.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="static/toc.js"></script>
</head>
<body>
  <div class="toc-wrapper">
    <img src="static/logo.png" class="logo" alt="Logo">

    <div class="search">
      <input type="text" class="search" id="input-search" placeholder="Search">
    </div>

    <div id="toc"></div>

    <div class="toc-footer">
      <span class="stat-filter-group">
        {% for damage_type in DAMAGE_TYPES %}
        <img class="stat-filter" title="{{damage_type|capitalize}} Damage" data-stat-class="damage" data-stat-type="{{damage_type}}" src="game_images/ui/icons/dmg_{{damage_type}}.png">
        <img class="stat-filter" title="{{damage_type|capitalize}} Resistance" data-stat-class="resist" data-stat-type="{{damage_type}}" src="game_images/ui/icons/dmg_{{damage_type}}_resist.png">
        {% if not loop.last %}
        <br>
        {% endif %}
        {% endfor %}
      </span>

      <span class="stat-filter-group">
        {% for i, type in PRIMARY_STATS.items() %}
        <img class="stat-filter" title="{{type|capitalize}}" data-stat-class="primary" data-stat-type="{{type}}" src="game_images/ui/icons/stat_{{type}}.png">
        {% if not loop.last %}
        <br>
        {% endif %}
        {% endfor %}
      </span>

      <span class="stat-filter-group">
        {% for i, (type, name) in SECONDARY_STATS.items() %}
        <img class="stat-filter" title="{{name}}" data-stat-class="secondary" data-stat-type="{{type}}" src="game_images/ui/icons/stat_{{type}}.png">
        {% if not loop.last and loop.index % 2 == 0 %}
        <br>
        {% endif %}
        {% endfor %}
      </span>

    </div>

    <ul class="toc-footer">
      <li>
        <a href="https://github.com/pnaimoli/dredmorpedia2">Report Issues on GitHub</a>
      </li>
      <li>
        <a href="https://github.com/stoz/dredmorpedia">Original Dredmorpedia by J-Factor</a>
      </li>
      <li>Layout inspired by <a href="https://github.com/lord/slate">Slate</a>
      </li>
    </ul>
  </div>

  <div class="page-wrapper">
    <div class="content">
      <h1 id="items">Items</h1>
      <table id="itemDB" class="itemDB">

        <thead>
          <tr>
            <th class="name sort" data-sort="name">Item</th>
            <th class="type sort" data-sort="type">Type</th>
            <th class="level sort" data-sort="level">Level</th>
            <th class="price sort" data-sort="price"><img src="game_images/items/cash1.png"></th>
            <th class="artifact sort" data-sort="artifact">Artifact</th>
            <th class="stats sort" data-sort="stats">Stats</th>
            <th>Recipes</th>
            <th>Used To Craft</th>
            <th>Effects</th>
          </tr>
        </thead>

        <tbody class="list">
          {% for itemDB in itemDBs %}
          {% for item in itemDB.itemdb.item %}
          <tr id="{{item.name|nametoid}}">
            {# ====== Item Name ====== #}
            <td class="name" data-name="{{item.name}}">
              <img class="item" title="{{item.name}}" src="game_images/{{itemDB.mod_dir}}/{{item.iconfile}}">
              {{item.name}}
            </td>

            {# ====== Item Type ====== #}
            {% if "armour" in item %}{% set item_type = item.armour.type|lower %}
            {% elif "food" in item and "hp" in item.food %}{% set item_type = "food" %}
            {% elif "food" in item and "mp" in item.food %}{% set item_type = "booze" %}
            {% elif "potion" in item %}{% set item_type = "potion" %}
            {% elif "trap" in item %}{% set item_type = "trap" %}
            {% elif "gem" in item %}{% set item_type = "gem" %}
            {% elif "wand" in item %}{% set item_type = "wand" %}
            {% elif "toolkit" in item %}{% set item_type = "toolkit" %}
            {% elif "mushroom" in item %}{% set item_type = "mushroom" %}
            {% elif "weapon" in item %}{% set item_type = WEAPON_TYPES[item.type|int] %}
            {% elif "alchemical" in item %}{% set item_type = "alchemical" %}
            {% else %}{% set item_type = "unknown" %}
            {% endif %}
            <td class="type" data-type="{{item_type}}">
              {{item_type|capitalize}}
            </td>

            {# ====== Item Level ====== #}
            {% if "level" in item or "armour" in item or "trap" in item%}
            {% if "level" in item %}
              {% set level = item.level|int %}
            {% elif "armour" in item %}
              {% set level = item.armour.level|int %}
            {% elif "trap" in item %}
              {% set level = item.trap.level|int %}
            {% endif %}
            <td class="level">{{level}}</td>
            {% else %}
            <td class="level">
            </td>
            {% endif %}

            {# ====== Price ====== #}
            <td class="price">{{item.price.amount if "price" in item else ""}}</td>

            {# ====== Artifact Quality ====== #}
            {% if "artifact" in item %}
            <td class="artifact">{{item.artifact.quality}}</td>
            {% else %}
            <td class="artifact">
            </td>
            {% endif %}

            {# ====== Stats ====== #}
            <td class="stats">
              {% if "weapon" in item %}
              <div class="stat-group">
              {% for damageType, amount in item.weapon|dictsort %}
              {% set damageType = damageType %}
              {% if damageType == "hit" %}{% continue %}{% endif %}
              {% if damageType == "thrown" %}{% continue %}{% endif %}
              {% if damageType == "cantargetfloor" %}{% continue %}{% endif %}
                <div class="stat" data-stat-class="damage" data-stat-type="{{damageType}}" data-stat-value="{{amount}}">
                  <img class="stat" src="game_images/ui/icons/dmg_{{damageType}}.png" title="{{damageType|capitalize}} Damage"> {{amount}}
                </div>
              {% endfor %}
              </div>
              {% endif %}

              {% if "damagebuff" in item %}
              <div class="stat-group">
              {% for damageType, amount in item.damagebuff|dictsort %}
              {% set damageType = damageType %}
                <div class="stat" data-stat-class="damage" data-stat-type="{{damageType}}" data-stat-value="{{amount}}">
                  <img class="stat" src="game_images/ui/icons/dmg_{{damageType}}.png" title="{{damageType|capitalize}} Damage"> {{amount}}
                </div>
                {% if loop.index0 % 4 == 3 and not loop.last %}
                <br>
                {% endif %}
              {% endfor %}
              </div>
              {% endif %}

              {% if "resistbuff" in item %}
              <div class="stat-group">
              {% for damageType, amount in item.resistbuff|dictsort %}
              {% set damageType = damageType %}
                <div class="stat" data-stat-class="resist" data-stat-type="{{damageType}}" data-stat-value="{{amount}}">
                  <img class="stat" src="game_images/ui/icons/dmg_{{damageType}}_resist.png" title="{{damageType|capitalize}} Resistance"> {{amount}}
                </div>
                {% if loop.index0 % 4 == 3 and not loop.last %}
                <br>
                {% endif %}
              {% endfor %}
              </div>
              {% endif %}

              {% for buff in item.primarybuff|sort(attribute="id") %}
              {% set stat = PRIMARY_STATS[buff.id|int] %}
              {% if loop.first %}
              <div class="stat-group">
              {% endif %}
                <div class="stat" data-stat-class="primary" data-stat-type="{{stat}}" data-stat-value="{{buff.amount}}">
                  <img class="stat" src="game_images/ui/icons/stat_{{stat}}.png" title="{{stat|capitalize}}"> {{buff.amount}}
                </div>
                {% if loop.index0 % 4 == 3 and not loop.last %}
                <br>
                {% endif %}
              {% if loop.last %}
              </div>
              {% endif %}
              {% endfor %}

              {% for buff in item.secondarybuff|sort(attribute="id")  %}
              {% set stat = SECONDARY_STATS[buff.id|int] %}
              {% if loop.first %}
              <div class="stat-group">
              {% endif %}
                <div class="stat" data-stat-class="secondary" data-stat-type="{{stat[0]}}" data-stat-value="{{buff.amount}}">
                  <img class="stat" src="game_images/ui/icons/stat_{{stat[0]}}.png" title="{{stat[1]}}"> {{buff.amount}}
                </div>
                {% if loop.index0 % 4 == 3 and not loop.last %}
                <br>
                {% endif %}
              {% if loop.last %}
              </div>
              {% endif %}
              {% endfor %}

              {% if "armour" in item and item.armour.randoms == "1" %}
              <div class="stat-group">
                <img class="stat" data-random="1" src="static/random.png" width="16px" height="16px" title="Random Stats">
              </div>
              {% endif %}
            </td>

            {# ====== Crafting Recipe ====== #}
            <td>
            </td>

            <td>
              {#
              {% for craftDB in craftDBs %}
              {% for craft in craftDB.craftdb.craft %}
              {% for input in craft.input %}
              {% if input.name|lower == item.name|lower %}
              <a class="ref" href="#{{craft.output[0].name|nametoid}}">
                {% for itemDB in itemDBs %}
                {% for item in itemDB.itemdb.item %}
                {% if item.name|nametoid == craft.output[0].name|nametoid %}
                <img class="item" title="{{item.name}}" src="game_images/{{itemDB.mod_dir}}/{{item.iconfile}}">
                {% break %}
                {% endif %}
                {% endfor %}
                {% endfor %}
              </a>
              {% break %}
              {% endif %}
              {% endfor %}
              {% endfor %}
              {% endfor %}
              #}
            </td>

            <td>
              {% if "weapon" in item and "hit" in item.weapon %}
              ON HIT: ???
              {% endif %}
              {% if "targethiteffectbuff" in item %}
              ON HIT: ???
              {% endif %}
              {% if "crossbowshotbuff" in item %}
              ON HIT: ???
              {% endif %}
              {% if "playerhiteffectbuff" in item %}
              ON HIT: ???
              {% endif %}

            </td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>

      <h1 id="skills">Skills</h1>

      <h1 id="monsters">Monsters</h1>
      <table id="monDB" class="monDB">

        <thead>
          <tr>
            <th>Sprite</th>
            <th class="sort" data-sort="name">Name</th>
            <th class="sort" data-sort="taxonomy">Taxonomy</th>
            <th class="sort" data-sort="level">Level</th>
            <th class="sort" data-sort="special">Special</th>
            <th class="sort" data-sort="stats">Stats</th>
            <th>Spells</th>
          </tr>
        </thead>

        <tbody class="list">
          {% for monDB in monDBs %}
          {% for monster in monDB.mondb.monster recursive %}
          <tr id="{{monster.name|nametoid}}">
            {# ====== Sprite ====== #}
            <td class="sprite">
              <img class="monster" 
                {% if "palette" in monster %}
                style="filter: hue-rotate({{monster.palette.tint}}deg);"
                {% endif %}
                src="game_images/{{monDB.mod_dir}}/{{monster.idlesprite.down}}{% if monster.idlesprite.down.endswith(".spr") %}.png{% endif %}">
            </td>

            {# ====== Monster Name ====== #}
            <td class="name">
              {{monster.name}}
            </td>

            {# ====== Taxonomy ====== #}
            <td class="taxonomy">
              {{monster.taxa|capitalize}}
            </td>

            {# ====== Level ====== #}
            <td class="level">
              {{monster.level}}
            </td>

            {# ====== Special ====== #}
            <td class="special">
              {{monster.special}}
            </td>

            {# ====== Stats ====== #}
            <td class="stats">
            </td>

            {# ====== Spells ====== #}
            <td class="spells">
            </td>

          </tr>
          {% for child_monster in monster.monster %}
            {% do child_monster.update({"parent": monster}) %}
            {% if "idlesprite" not in child_monster %}
              {% do child_monster.update({"idlesprite": {"down": monster.idlesprite.down}}) %}
            {% endif %}
            {% if "taxa" not in child_monster %}
              {% do child_monster.update({"taxa": monster.taxa}) %}
            {% endif %}
          {% endfor %}
          {{ loop(monster.monster) }}
          {% endfor %}
          {% endfor %}
    </div>
  </div>
  <script>
  var options = {
  valueNames: [
    { name: "name", attr: "data-name" },
    { name: "type", attr: "data-type" },
    "level",
    "price",
    "artifact",
    "stats",
  ]
  };

  var itemTable = new List("itemDB", options);
  itemTable.sort("name", { order: "asc"});

  options = {
  valueNames: [
    "name",
    "taxonomy",
    "level",
    "special",
    "stats",
  ]
  };

  var monTable = new List("monDB", options);
  monTable.sort("level", { order: "asc"});

  $("#input-search").keyup(function() {
    var searchString = $(this).val();
    itemTable.search(searchString, [ "name" ]);
    monTable.search(searchString, [ "name" ]);
  });

  $(".stat-filter").click(function() {
    var attr_selector = "[data-stat-class=" + $(this).attr("data-stat-class") + "]" +
                        "[data-stat-type="  + $(this).attr("data-stat-type") + "]";
    $(this).toggleClass("filtered");
    if ($(this).hasClass("filtered")) {
      itemTable.filter(function(item) {
        return $(item.elm).has("div" + attr_selector + "").length > 0;
      });
    } else {
      itemTable.filter();
    }
  });

  sum_stats = function(elem, selector) {
    var total = 0;
    $(elem).find(selector).each(function() {
      total += parseInt($(this).attr("data-stat-value"), 10);
    });
    return total;
  };

  $("th.sort[data-sort=stats]").click(function() {
    var order = "desc";
    if ($(this).hasClass("desc")) {
      order = "desc";
    } else if ($(this).hasClass("asc")) {
      order = "asc";
    }
    itemTable.sort("stats", {
      order: order,
      sortFunction: function(a, b) {
        var selector = "div[data-stat-class=damage]," +
                       "div[data-stat-class=resist]," +
                       "div[data-stat-class=secondary]," +
                       "div[data-stat-class=primary]";

        var a_stats = sum_stats(a.elm, selector);
        var b_stats = sum_stats(b.elm, selector);
        if (a_stats == b_stats) {
          return $(a.elm).attr("id") > $(b.elm).attr("id") ? 1 : -1;
        }
        return a_stats > b_stats ? 1 : -1;
      }
    });
  });
  </script>
  <script>$('#toc').toc();</script>
</body>
</html>
